* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

main {
    position: relative;
    width: 100%;
    top: calc(50% - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    section.searchUI {
        display: flex;
        flex-wrap: wrap;
        width: 35%;
        justify-content: center;
        input {
            flex-basis: 100%;
            margin-bottom: 10px;
            height: 25px;
            padding: 15.5px 5px 15.5px 5px;
            font-size: 12px;
            outline: none;
        }
        button {
            align-self: center;
            margin: 0 10px;
            width: 100px;
            height: 30px;
            outline: none;
        }
    }
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    .container {
        width: 60%;
        padding: 15px;
        margin: 10px;
        align-self: center;
        .title {
            text-decoration: none;
        }
        .hyperlink {
            font-size: 14px;
            color: #006621;
        }
    }
}

footer {
    position: relative;
    height: 40px;
    width: 100%;
    background-color: grey;
    p {
        text-align: center;
        margin-top: 10px;
        a {
            text-decoration: none;
        }
    }
}
